apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: podinfo
    repo: https://stefanprodan.github.io/podinfo
    version: 6.3.3
    releaseName: podinfo-2
    namespace: podinfo-2
    valuesFile: values.yaml

resources:
  - addons/secret.yaml
